<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./assets/plugins/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="./assets/plugins/color-picker/jquery.minicolors.css">
    <link rel="stylesheet" href="./assets/css/main.css">

    <script src="./assets/plugins/jquery/jquery.js"></script>
    <script src="./assets/plugins/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="./assets/plugins/color-picker/jquery.minicolors.js"></script>
    <script src="./assets/js/ui.js"></script>
</head>
<body>
<div class="wrapper">
    {% include './header.njk' %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% include './footer.njk' %}
</div>
</body>
</html>