<header class="header">
    <div class="wrap">
        <div class="row">
            <div class="col">
                <a href="" class="link">신규고객등록</a>
            </div>
            <div class="col">
                <a href="" class="link">
                    고객관리
                </a>
                <div class="depth">
                    <a href="">(주) 파스텔</a>
                    <a href="">(주) 파스텔2</a>
                    <div class="divide"></div>
                    <a href="">신규고객 등록</a>
                    <a href="">고객정보 검색</a>
                    <a href="">고객정보 (새창)</a>
                    <a href="">SM웹하드(관리자)</a>
                    <a href="">추천 고객</a>
                    <a href="">고객Email 목록</a>
                    <a href="">중복고객 확인</a>
                    <a href="">D-day 계산기</a>
                    <a href="">엑셀데이터입력</a>
                    <a href="">전체고객 작업내역</a>
                </div>
            </div>

            <div class="col">
                <a href="" class="link">
                    월스케쥴
                </a>
                <div class="depth">
                    <a href="">월스케줄 (새창)</a>
                    <a href="">촬영스케줄 리스트</a>
                    <a href="">상품내역 진행상황</a>
                    <a href="">스케줄 일괄등록</a>
                    <a href="">스케줄 일괄삭제</a>
                </div>
            </div>

            <div class="col">
                <a href="" class="link">
                    일스케쥴
                </a>
                <div class="depth">
                    <a href="">일스케줄 (새창)</a>
                    <a href="">업무 일지</a>
                    <a href="">메모 작업내역</a>
                    <a href="">알람 설정/내역</a>
                </div>
            </div>

            <div class="col">
                <a href="" class="link">
                    관리대장
                </a>
                <div class="depth">
                    <a href="">상품작업리스트</a>
                    <a href="">고객상품 관리</a>
                    <a href="">신생아 관리</a>
                    <a href="">성장고객 관리</a>
                    <a href="">재작업 고객관리</a>
                    <a href="">미수금 고객관리</a>
                    <a href="">상품거래처 관리</a>
                    <a href="">컴플레인 고객관리</a>
                    <a href="">택배 고객관리</a>
                    <a href="">배달 고객관리</a>
                    <a href="">고객포인트 관리</a>
                    <a href="">결제 고객관리</a>
                    <a href="">옵션상품관리</a>
                </div>
            </div>

            <div class="col">
                <a href="" class="link">
                    통계
                </a>
                <div class="depth">
                    <a href="">촬영자 관련 통계</a>
                    <a href="">회계관리 통계</a>
                    <a href="">서비스촬영 통계</a>
                    <a href="">계약담당 통계</a>
                    <a href="">촬영 통계</a>
                    <a href="">상품 통계</a>
                    <a href="">방문동기 통계</a>
                    <a href="">미계약사유 통계</a>
                    <a href="">출퇴근 통계</a>
                    <a href="">고객등록 통계</a>
                    <a href="">스케줄등록 통계</a>
                </div>
            </div>

            <div class="col">
                <a href="" class="link">
                    SMS
                </a>
                <div class="depth">
                    <a href="">SMS 보내기</a>
                    <a href="">MMS 보내기</a>
                    <a href="">단체문자보내기</a>
                    <a href="">자주쓰는SMS보관함</a>
                    <a href="">자동일괄문자설정</a>
                    <a href="">자동일괄문자발송관리</a>
                    <a href="">자동예약문자관리</a>
                    <a href="">광고문자수신거부관리</a>
                    <a href="">URL사전등록</a>
                    <a href="">발신번호등록</a>
                    <a href="">문자발송내역</a>
                </div>
            </div>

            <div class="col">
                <a href="" class="link">
                    설정
                </a>
                <div class="depth">
                    <a href="">패키지상품 설정</a>
                    <a href="">세부상품 설정</a>
                    <a href="">출고항목 설정</a>
                    <a href="">고객구분 설정</a>
                    <a href="">방문동기 설정</a>
                    <a href="">월스케줄 설정</a>
                    <a href="">일스케줄 설정</a>
                    <a href="">일스케줄 작업담당설정</a>
                    <a href="">스케줄상태/추가기록</a>
                    <a href="">스탭(직원) 설정</a>
                    <a href="">촬영 컨셉 설정</a>
                    <a href="">이력 구분 설정</a>
                    <a href="">촬영추가목록 명칭설정</a>
                    <a href="">미계약사유 설정</a>
                    <a href="">옵션상품 설정</a>
                    <a href="">TM스케줄 표시 설정</a>
                    <a href="">상품내역진행상황설정</a>
                    <a href="">상단링크 설정</a>
                    <a href="">폴더링크주소 설정</a>
                    <a href="">고객정보화면 설정</a>
                    <a href="">기타옵션 설정</a>

                </div>
                <div class="depth2">
                    <a href="">내생에첫번째선물 게시판</a>
                    <a href="">요금 결제</a>
                    <a href="">공지사항/문의게시판</a>
                    <a href="">계정설정/비밀번호변경</a>
                    <a href="">삭제고객 복구</a>
                    <a href="">사용자 설명서</a>
                    <a href="">알람 설정/내역</a>
                    <a href="">채팅방</a>
                    <a href="">데이터 백업</a>
                    <a href="">로그아웃</a>
                    <a href="">원격지원실행</a>
                </div>
            </div>

            <div class="col header__btn-col">
                <div class="row">
                    <a href="" class="header__btn header__btn--history col">작업내역보기</a>
                    <a href="" class="header__btn header__btn--message col">쪽지보내기</a>
                    <button class="header__btn header__btn--menu col">전체메뉴보기</button>
                </div>
            </div>

            <script>
                $(function(){
                    $('.header__btn--menu').on('click', function(){
                        $('.header .depth').add('.header .depth2').toggle();
                    })
                })
            </script>
        </div>
    </div>
</header>