<div style="" class="quickmenu">
  <div class="quickmenu__header">
    <h2>Quick Menu</h2>

    <!-- 아이콘 변경 -->
    <a href="" class="quickmenu__setting">세팅</a>
  </div>
  <div class="quickmenu__body">
    <div class="quickmenu__fav-user">
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
      <a href=""><span>홍길동</span></a>
    </div>

    <div class="quickmenu__search">
      <div class="form__row flex">
        <div class="input">
          <input type="text">
        </div>
        <button class="btn">통합검색</button>
        <button class="btn">세부검색</button>
      </div>
    </div>

    <div class="quickmenu__member">
      <a href="" class="quickmenu__member-item">
        <div class="row">
          <div class="col number">
            <label for="mb1" class="checkbox">
              <input type="checkbox" hidden id="mb1">
              <span></span>
            </label>
            <span class="idx">1</span>
          </div>
          <ul class="col">
            <li><strong>회원번호</strong> 8391832</li>
            <li><strong>아기이름</strong> 홍길동</li>
            <li><strong>부모이름</strong> 홍길동</li>
            <li><strong>부모연락처</strong> 010-2222-3333</li>
            <li><strong>방문동기</strong> 온라인페어</li>
            <li><strong>추가촬영</strong> 펫가족 / 2020-09-05 10:00</li>
          </ul>
        </div>
      </a>

      <a href="" class="quickmenu__member-item">
        <div class="row">
          <div class="col number">
            <label for="mb1" class="checkbox">
              <input type="checkbox" hidden id="mb1">
              <span></span>
            </label>
            <span class="idx">1</span>
          </div>
          <ul class="col">
            <li><strong>회원번호</strong> 8391832</li>
            <li><strong>아기이름</strong> 홍길동</li>
            <li><strong>부모이름</strong> 홍길동</li>
            <li><strong>부모연락처</strong> 010-2222-3333</li>
            <li><strong>방문동기</strong> 온라인페어</li>
            <li><strong>추가촬영</strong> 펫가족 / 2020-09-05 10:00</li>
          </ul>
        </div>
      </a>
      <a href="" class="quickmenu__member-item">
        <div class="row">
          <div class="col number">
            <label for="mb1" class="checkbox">
              <input type="checkbox" hidden id="mb1">
              <span></span>
            </label>
            <span class="idx">1</span>
          </div>
          <ul class="col">
            <li><strong>회원번호</strong> 8391832</li>
            <li><strong>아기이름</strong> 홍길동</li>
            <li><strong>부모이름</strong> 홍길동</li>
            <li><strong>부모연락처</strong> 010-2222-3333</li>
            <li><strong>방문동기</strong> 온라인페어</li>
            <li><strong>추가촬영</strong> 펫가족 / 2020-09-05 10:00</li>
          </ul>
        </div>
      </a>

      <a href="" class="quickmenu__member-item">
        <div class="row">
          <div class="col number">
            <label for="mb1" class="checkbox">
              <input type="checkbox" hidden id="mb1">
              <span></span>
            </label>
            <span class="idx">1</span>
          </div>
          <ul class="col">
            <li><strong>회원번호</strong> 8391832</li>
            <li><strong>아기이름</strong> 홍길동</li>
            <li><strong>부모이름</strong> 홍길동</li>
            <li><strong>부모연락처</strong> 010-2222-3333</li>
            <li><strong>방문동기</strong> 온라인페어</li>
            <li><strong>추가촬영</strong> 펫가족 / 2020-09-05 10:00</li>
          </ul>
        </div>
      </a>
      <a href="" class="quickmenu__member-item">
        <div class="row">
          <div class="col number">
            <label for="mb1" class="checkbox">
              <input type="checkbox" hidden id="mb1">
              <span></span>
            </label>
            <span class="idx">1</span>
          </div>
          <ul class="col">
            <li><strong>회원번호</strong> 8391832</li>
            <li><strong>아기이름</strong> 홍길동</li>
            <li><strong>부모이름</strong> 홍길동</li>
            <li><strong>부모연락처</strong> 010-2222-3333</li>
            <li><strong>방문동기</strong> 온라인페어</li>
            <li><strong>추가촬영</strong> 펫가족 / 2020-09-05 10:00</li>
          </ul>
        </div>
      </a>

      <a href="" class="quickmenu__member-item">
        <div class="row">
          <div class="col number">
            <label for="mb1" class="checkbox">
              <input type="checkbox" hidden id="mb1">
              <span></span>
            </label>
            <span class="idx">1</span>
          </div>
          <ul class="col">
            <li><strong>회원번호</strong> 8391832</li>
            <li><strong>아기이름</strong> 홍길동</li>
            <li><strong>부모이름</strong> 홍길동</li>
            <li><strong>부모연락처</strong> 010-2222-3333</li>
            <li><strong>방문동기</strong> 온라인페어</li>
            <li><strong>추가촬영</strong> 펫가족 / 2020-09-05 10:00</li>
          </ul>
        </div>
      </a>


      <div class="quickmenu__member-more">
        <p>
          검색건수가 200건이 넘습니다.<br/>
          전체검색하려면 클릭하세요
        </p>
        <a href="" class="btn">전체검색</a>
      </div>
    </div>

    <div class="quickmenu__actions">
      <button class="btn">체크All</button>
      <button class="btn">삭제</button>
      <button class="btn">SMS</button>
      <button class="btn">MMS</button>
      <button class="btn">Email</button>
      <button class="btn">출력</button>
      <button class="btn">S</button>
    </div>
  </div>
</div>